@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="width:100%;height:100%;padding:0;margin:0;">
<head>
    <title>Integration Demo</title>
</head>
<body style="width:100%;height:100%;padding:0;margin:0;">
    <h1 style="margin:0;padding:10px;">Integration Demo</h1>
    <iframe frameborder="0" style="width:100%;height:800px;" src="http://sophtronweb/demo?integration_key=@ViewBag.IntegrationKey"></iframe>
</body>
</html>