@model IList<MainOAuthDemo.Controllers.HomeController.TransactionModel>
<div>
    @if (Model?.Count > 0)
    {
        foreach (var acc in Model)
        {
            <h5> Account: @acc.AccountName (@acc.AccountNumber)</h5>
            <h5> Curretn Balance: $@acc.AccountBalance</h5>
            <table class="table table-bordered">
                <tbody>
                    @foreach (var item in acc.Transactions)
                    {
                        <tr>
                            <td>@item.Date.Value.ToShortDateString()</td>
                            <td>@item.Type</td>
                            <td>$@item.Amount</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    else
    {
        <p>
            <br class="gap" />
            <br class="gap" />
            <br class="gap" />
            <h4>We partner with Sophtron to provide secure integration with banks.</h4>
            <br class="gap" />
            Through this integrated login process, we'll be able to view your basic funds information, conduct real time analysis, in order to make quick &amp; reliable decisions.
        </p>
    }
</div>
